
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Thomas Pearson CV</title>

  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans">
  <link rel="stylesheet" type="text/css" href="styles/about.css">
  <link rel="stylesheet" type="text/css" href="styles/containers.css">
  <link rel="stylesheet" type="text/css" href="styles/experiences.css">
  <link rel="stylesheet" type="text/css" href="styles/global.css">
  <link rel="stylesheet" type="text/css" href="styles/languages.css">
  <link rel="stylesheet" type="text/css" href="styles/resize.css">
  <link rel="stylesheet" type="text/css" href="styles/showcase.css">
  <link rel="stylesheet" type="text/css" href="styles/footer.css">
  <link rel="stylesheet" type="text/css" href="styles/progress.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="//cdn.jsdelivr.net/velocity/1.1.0/velocity.min.js"></script>

  <script src="scripts/submit.js"></script>
  <script src="scripts/links.js"></script>
  <script src="scripts/list_highlight.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <section id="showcase">
	  <img src="./images/showcase_2.png" alt="My Desk layout">
  </section>

  <section>
	  <div class="container">
		  <h1>Profile</h1>
		  <p class="sub_title">Developer, Programmer, Problem Solver!</p>

		  <div id="about">
			  <div id="description">
				  <h2>About Me</h2>
				  <p>
					  My name is Thomas Pearson, Im a developer from Auckland, New Zealand with a huge passion for developing and creating. I
					  love to learn and am passionate about honing my skills and embracing the newest technologies, languages, and frameworks.
				  </p>
			  </div>

			  <div id="about_pic">
				  <img class="center_img" src="./images/me.png" />
			  </div>

			  <div id="education">
				  <h2>Education</h2>
				  <p>
					  I majored in Computer Science with a minor in Information Technology from Massey University. I've gained commercial experience
					  working on Android application as a Full Stack Developer using Agile Scrum, AWS Dynamo and AWS Lambda.
				  </p>
			  </div>
		  </div>
	  </div>

	  <div class="container">
		  <h1>Skills</h1>
		  <p class="sub_title"></p>
		  <div class=languages>			
				<% skills.forEach((array) => { %>
					<ul>
					<% array.forEach((item) => { %>
						<li>
							<span><%= item.name %></span>
							<span class='skill_star star_list'>
								<%= item.grey_stars %>
							</span> 
							<span class='fill_skill_star star_list'>
								<%= item.colour_stars %>
							</span>
						</li>
					<% }) %> 
					</ul>
				<% }) %>
			
		  </div>
		  <input type="submit" value="Git Hub" class="git_hub">
	  </div>
  </section>

  <div class="container">
	<h1>Experience</h1>
	<p class="sub_title"></p>
	<% experiences.forEach((experience) => { %>
		<div class='exp_descript'>
			<div class='loc_date_exp'>
				<h2><%= experience.location %></h2>
				<p><%= experience.from_date + ' - ' + experience.to_date %></p>
			</div>
			<div class='job_description'>
				<h3><%= experience.title %></h3>
				<p><%= experience.description %></p>
			</div>
		</div>
	<% }) %>

  </div>

  <div class="container">
	  <h1>Contact Me</h1>
	  <p class="sub_title"></p>
	  <form class="email_form" action="#">
		  <input id="name" type="text" name="name" value="Name"></br>
		  <input id="email" type="text" name="email" value="E-mail"></br>
		  <input id="subject" type="text" name="subject" value="Subject"></br>
		  <textarea id="message" name="message">Message</textarea></br>
	  </form>
	  <div class="progress_button">
		  <input id="submit" type="submit" value="Submit" name="submit">
		  <div id="progress"></div>
	  </div>
	  <p id="error_text" class="center_text">errortext</p>

  </div>

  <footer>
	  <div class="container flex_horizontal">
		  <div class="footer_item" id="linkedin"><span id="linkedin_logo"></span>
			  <p>Linkedin</p>
		  </div>
		  <div class="footer_item git_hub" id="git_hub"><span id="git_hub_logo"></span>
			  <p>Git Hub</p>
		  </div>
		  <div class="footer_item" id="email_manual"><span id="email_logo"></span>
			  <p>Email</p>
		  </div>
	  </div>
  </footer>

</body>

</html>